@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif&display=swap");
@font-face {
  font-family: "Quite Chocolatey";
  src: url("/web/myproject/fonts/Quite Chocolatey.eot");
  src: local("☺"), url("/web/myproject/fonts/Quite Chocolatey.woff") format("woff"), url("/web/myproject/fonts/Quite Chocolatey.ttf") format("truetype"), url("/web/myproject/fonts/Quite Chocolatey.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Montserrat";
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrap {
  background: url("../img/header.jpg") no-repeat center/cover;
  /*    height: 100vh; */
}

.inner {
  background: rgba(139, 114, 76, 0.521);
  /*    height: 100vh; */
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0px 15px;
}

@media (max-width: 1100px) {
  .container {
    max-width: 900px;
  }
}

@media (max-width: 920px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 770px) {
  .container {
    max-width: none;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 70px;
}

.logo {
  color: #d03958;
  font-family: "Quite Chocolatey";
  font-size: 88px;
  line-height: 32.38px;
  letter-spacing: -1.2px;
}

.logo a {
  color: #d03958;
}

.row__burger {
  display: none;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu li + li {
  margin-left: 15px;
}

@media (max-width: 770px) {
  .menu li + li {
    margin-left: 0px;
  }
}

.menu a {
  color: #1b1b1b;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  padding: 12px 15px;
  letter-spacing: -0.36px;
}

@media (max-width: 770px) {
  .menu a {
    font-size: 14px;
  }
}

.menu a:hover {
  border-radius: 4px;
  background-color: #d03958;
  color: #fff;
  letter-spacing: -0.36px;
}

@media (max-width: 840px) {
  body.lock {
    overflow: hidden;
  }
  .row__burger {
    display: block;
    position: relative;
    width: 35px;
    height: 25px;
    position: relative;
    z-index: 2;
  }
  .row__burger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 12px;
    background: #fff;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .row__burger::before, .row__burger::after {
    content: "";
    background: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .row__burger::before {
    top: 0;
  }
  .row__burger::after {
    bottom: 0;
  }
  .row__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .row__burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 11px;
  }
  .row__burger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 11px;
  }
  .menu {
    position: fixed;
    top: -130%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(139, 114, 76, 0.377);
    padding-top: 110px;
    display: block;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    overflow: auto;
  }
  .menu li a {
    color: #fff;
  }
  .menu li a:hover {
    background: rgba(0, 0, 0, 0);
  }
  .menu.active {
    background: rgba(14, 13, 13, 0.781);
    top: 0px;
    left: 0px;
  }
  .menu li + li {
    padding-top: 15px;
    margin-left: 0px;
  }
  .row {
    padding-top: 40px;
  }
  .logo {
    font-size: 65px;
    line-height: 32.38px;
    letter-spacing: -1.2px;
    position: relative;
    z-index: 1;
  }
}

/* block 2------------------------------- */
.inner__column {
  max-width: 493px;
}

.inner__column-title h1 {
  color: #d03958;
  font-size: 90px;
  font-weight: 700;
  line-height: 80px;
  text-transform: uppercase;
  letter-spacing: -1.8px;
}

.inner__column-title h1 span {
  color: #161616;
}

@media (max-width: 920px) {
  .inner__column-title h1 {
    font-size: 60px;
    line-height: 60px;
  }
}

@media (max-width: 770px) {
  .inner__column-title h1 {
    font-size: 40px;
    line-height: 40px;
  }
}

.inner__column-text {
  margin-top: 47px;
}

@media (max-width: 920px) {
  .inner__column-text {
    margin-top: 30px;
  }
}

@media (max-width: 770px) {
  .inner__column-text {
    margin-top: 15px;
  }
}

.inner__column-text p {
  font-family: "PT Serif";
  color: #161616;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.4px;
}

.inner__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 120px;
}

@media (max-width: 920px) {
  .inner__bottom {
    margin-top: 100px;
  }
}

@media (max-width: 770px) {
  .inner__bottom {
    margin-top: 50px;
  }
}

@media (max-width: 770px) {
  .inner__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/* -----------block-3-------------- */
.inner__form {
  margin-top: -50px;
  margin-bottom: 30px;
  max-width: 350px;
  width: 100%;
  background-color: #d03958;
  border-radius: 4px;
  padding: 20px;
}

@media (max-width: 1100px) {
  .inner__form {
    margin-left: 40px;
  }
}

@media (max-width: 770px) {
  .inner__form {
    margin-top: 20px;
    margin-left: 0;
  }
}

.form__top {
  color: #ffffff;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: -0.44px;
  text-align: center;
}

.form__centr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px 0 20px 0;
  color: #b5b5b5;
  font-family: "PT Serif";
  letter-spacing: -0.4px;
}

.form__centr input {
  border-radius: 4px;
  padding: 10px 0;
  padding-left: 10px;
  margin: 5px 0;
  font-size: 16px;
}

.select {
  margin-top: 5px;
  display: inline-block;
  color: #7a7a7a;
  font-family: "PT Serif";
  font-size: 16px;
  letter-spacing: -0.4px;
  padding: 10px;
  border-radius: 4px;
  padding-left: 10px;
}

.select option {
  color: #7e7e7e;
}

.form__bottom {
  text-align: center;
}

.select__1213 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
}

.select__1213 a {
  margin-left: 10px;
  color: #00369b;
}

.select__1213 a::after {
  content: "";
  height: 2px;
  background-color: #00369b;
}

.select__1213 a:hover::after {
  display: block;
}

.select__1213 span {
  margin-left: 5px;
  color: #ffffff;
}

.select__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__bottom button {
  border-radius: 4px;
  display: inline-block;
  padding: 10px 0;
  background: #161616;
  width: 100%;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: -0.44px;
}

/* ------------section------------- */
.section__header {
  margin-top: 40px;
}

.section__header h1 {
  color: #161616;
  font-family: Couture;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: -1px;
}

@media (max-width: 700px) {
  .section__header h1 {
    text-align: center;
    font-size: 30px;
  }
}

.section__header h1 span {
  color: #d03958;
}

.section__row {
  margin-top: 100px;
}

@media (max-width: 700px) {
  .section__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 50px;
  }
  .section__row img {
    width: 30%;
  }
}

.section__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -50px;
}

@media (max-width: 1100px) {
  .section__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -30px;
  }
}

.section__row-box {
  width: 25%;
  /* display: block; */
  text-align: center;
  padding: 0px 50px;
}

@media (max-width: 1100px) {
  .section__row-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    padding: 30px;
  }
}

@media (max-width: 700px) {
  .section__row-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section__row-box img {
    width: 50%;
  }
}

.section__row-box p {
  color: #161616;
  font-family: "PT Serif";
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.4px;
  display: inline-block;
  margin-top: 50px;
}

@media (max-width: 700px) {
  .section__row-box p {
    font-size: 16px;
    line-height: 20px;
    max-width: 140px;
    margin-top: 20px;
  }
}

.section__footer {
  margin-top: 68px;
  background-color: #d03958;
}

.section__footer p {
  max-width: 600px;
  color: #ffffff;
  font-family: "PT Serif";
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.4px;
}

@media (max-width: 700px) {
  .section__footer p {
    font-size: 16px;
    line-height: 22px;
  }
}

.section__footer-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0px;
}

@media (max-width: 768px) {
  .section__footer-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section__footer-row .section__footer-link {
    margin-top: 20px;
    padding: 10px 40px;
    font-size: 16px;
    line-height: 22px;
  }
}

.section__footer-link {
  color: #161616;
  font-family: "Montserrat";
  font-size: 22px;
  line-height: 28px;
  letter-spacing: -0.44px;
  padding: 20px 60px;
  background-color: #e3d5b8;
  border-radius: 4px;
}

.section__footer-link:hover {
  color: #ffffff;
  background-color: #aaa395;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* --------section__prising -------------*/
.prising {
  padding: 50px 0;
  background-color: #e3d5b8;
}

@media (max-width: 930px) {
  .prising {
    padding: 30px 0;
  }
  .prising .prising__title {
    margin-bottom: -30px;
  }
  .prising .prising__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .prising .prising__column {
    margin-top: 50px;
  }
}

.prising__title {
  text-align: center;
  margin-bottom: 57px;
}

.prising__title h2 {
  color: #1f1f1f;
  font-size: 50px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: -1px;
}

.prising__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -10px;
}

.prising__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0px 10px;
}

.prising__item {
  width: 100%;
  background-color: #ffffff;
  border-radius: 4px;
  padding: 35px 55px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.prising__item .div {
  margin-top: 5px;
}

.prising__image {
  position: absolute;
  left: 10px;
  top: 0;
}

.prising__transform {
  position: absolute;
  left: 15px;
  top: 24px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  color: #1f1f1f;
  font-family: "PT Serif";
  font-size: 18px;
  line-height: 18.97px;
  letter-spacing: -0.32px;
}

.prising__subtitle {
  text-align: center;
  color: #161616;
  font-family: "PT Serif";
  font-size: 22px;
  line-height: 28px;
  letter-spacing: -0.44px;
}

.prising__lable {
  text-align: center;
  margin: 35px 0;
  color: #d03958;
  font-size: 60px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: -1.2px;
}

.prising__text {
  text-align: center;
  color: #161616;
  font-family: "PT Serif";
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.4px;
  margin-bottom: 35px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.prising__btn {
  text-align: center;
  display: inline-block;
  width: 100%;
  color: #161616;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: -0.44px;
  background-color: #e3d5b8;
  padding: 15px 0;
  border-radius: 4px;
}

.prising__btn:hover {
  color: #ffffff;
  background-color: #d03958;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* -------------col------------------ */
.col {
  margin: 100px 0;
}

.col__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

@media (max-width: 800px) {
  .col__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .col__inner .col__galer {
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .col__inner .col__galery {
    font-size: 49px;
    margin-left: 0px;
  }
}

.title {
  text-align: center;
  color: #1f1f1f;
  font-size: 50px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: -1px;
  margin-bottom: 60px;
}

@media (max-width: 800px) {
  .title {
    font-size: 40px;
  }
}

.col__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.col__column:last-child {
  margin-bottom: 0;
}

.col__testimonial-text {
  background-color: #e3d5b8;
  padding: 26px 77px 26px 26px;
  border-radius: 4px;
}

.col__testimonial-text p {
  /*       max-width: 336px; */
  color: #161616;
  font-family: "PT Serif";
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.4px;
}

.col__testimonial-text span {
  display: inline-block;
  padding-top: 23px;
  color: #d03958;
}

.col__testimonial-image {
  margin-left: -60px;
  margin-top: 20px;
}

.col__testimonial-image img {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 50px;
}

.col__galer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 100px;
}

@media (max-width: 800px) {
  .col__galer {
    margin-left: 10px;
  }
}

.col__galery {
  color: #d03958;
  font-size: 29px;
}

.col__galery-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: -20px;
}

.col__galery-image .col__galery-img {
  padding: 20px;
}

.col__galery-image .col__galery-img img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.col__galery-link {
  margin-top: 45px;
  text-align: center;
  font-size: 20px;
  line-height: 28px;
  text-decoration: underline;
  letter-spacing: -0.4px;
}

.col__galery-link a {
  color: #d03958;
}

/* -------------footer------------------- */
.footer {
  background-color: #161616;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 70px 0px;
}

.footer__text {
  color: #ffffff;
  font-family: "PT Serif";
  font-size: 20px;
  line-height: 22px;
  letter-spacing: -0.4px;
}

.footer__text span {
  color: #d03958;
}
